@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

.focus-ring {
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-aqua focus-visible:ring-offset-2;
}
